{% extends "layout.html" %}
{% block title %}Company Directory{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="h1 text-center m-4">Company Directory</div>
    {# TODO
    build a horizontal filter/sort form with
    name (company name)
    country/state (provided)
    sort/order (using allowed_columns and provided partial template)
    limit
    ensure all fields prefill with request arg data if provided
    #}
    <form class="row row-cols-lg-auto g-3 mb-4 align-items-end" method="GET">
        <div class="col-12" style="max-width: 18%;">
            <label class="form-label visually-hidden" for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name"
                value="{{request.args.get('name') or ''}}">
        </div>
        {% with layout = "horizontal" %}
            {% include "country_state_selector.html" %}
        {% endwith %}
        {% with cols = allowed_columns %}
            {% include "sort_filter.html" %}
        {% endwith %}
        <div class="col-12" style="max-width: 18%;">
            <label class="form-label visually-hidden" for="limit">Limit</label>
            <input type="number" name="limit" class="form-control" id="limit" placeholder="Limit" min="0" max="100"
                value="{{request.args.get('limit') or 10}}">
        </div>
        
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Filter" />
        </div>
        <div class="col-12">
            <a href="?" class="btn btn-secondary">Reset</a>
        </div>
    </form>
    <div class="table-responsive">
    <table class="table">
        {% if rows and rows|length > 0 %}
        <thead>
            <tr class="text-capitalize">
                {# generate th tags for each column to display #}
                {# IMPORTANT use table column names as the headings, replace _ with space #}
                {% for r in rows[0] %}
                    <th>{{r | replace("_", " ")}}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {# generate tr with td tags for each piece of data #}
            {# if the td is for website, display it as a link where the text is "website" and the url is the
            website url #}
            {# in the last column add the following
            a view button that passes the company id to employee search (this will be a company employee
            directory) also pass company_name as an argument
            an edit button that passes the company id to company edit
            a delete button that passes the company id and the request args to the company delete route
            #}
            {% for r in rows %}
                <tr>
                    {% for col, value in r.items() %}
                        {% if col == 'website' and value != 'N/A' %}
                            <td><a href="{{value}}" class="link-primary" target="_blank">Website</a></td>
                        {% else %}
                            <td>{{value}}</td>
                        {% endif %}
                    {% endfor %}
                    <td style="max-width: 18%;">
                        <a href="{{url_for('employee.search', company=r.get('id'), company_name=r.get('name'))}}" class="btn btn-primary btn-sm">View</a>
                        <a href="{{url_for('company.edit', id=r.get('id'))}}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="{{url_for('company.delete', id=r.get('id'), **request.args)}}"
                            class="btn btn-danger btn-sm">X</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="100%">No results to show</td>
            </tr>
        </tbody>
        {% endif %}
    </table>
    </div>
</div>
{% endblock %}